#table{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
}
#score{
    display: flex;
    gap: 128px;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
#container img{
    width: 250px;
    height: auto;
}